<html>

<body>
    <form action="/result" method="post">
        <p>First Name</p><input type="text" name="First Name"><br>
        <p>Last Name</p><input form="text" name="Last Name"><br>
        <p>Age</p><input type="number" name="Age"><br>
        <p>Email ID</p><input type="email" name="Email"><br>
        <p>Contact</p><input type="text" name="Contact"><br>
        <p>Rating</p><input type="radio" name="Rating" id="g">
        <label for="vg">Very Good</label>
        <input type="radio" name="Rating" id="b">
        <label for="vb">Very Bad</label>
        <input type="radio" name="Rating" id="s">
        <label for="s">Satisfactory</label><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>

